@charset "UTF-8";
.container-fluid {
    background-color:#E8E8E8;
}
.logo {
    padding-top:10px;
    width:35%;
    height:95%;
}
/* Nav CSS */
.nav {
    justify-content:center;
    background-color:#1F4E78;
}
.nav-link {
    color:white;
    font-family:'Vollkorn', serif;
    font-size:18px;
    letter-spacing:0.5px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color:gold;
    background-color:#1F4E78;
}
.homeplaza {
    padding-top:10px;
    padding-bottom:10px;
}
p {
    font-family:'Lato', sans-serif;
    text-indent:20px;
    font-size:14px;
}
h1 {
    font-family:'Vollkorn', serif;
    padding-top:10px;
    font-size:33px;
    font-weight:bolder;
}
h2 {
    font-family:'Vollkorn', serif;
    text-decoration:underline;
    font-size:25px;
    margin-bottom:5px;
}
h3 {
    font-family:'Lato', sans-serif;
    font-size:20px;
    font-weight:bold;
    margin-bottom:0.5px;
}
.team-heading {
    font-family:'Vollkorn', serif;
    font-size:20px;
    text-decoration:underline;
    margin-left:20px;
}
.team-text {
    padding-left:20px;
}
.partners {
    max-width:35%;
}
.contact-text {
    font-family:'Lato', sans-serif;
    font-size:14px;
    color:black;
}
.contact-title {
    font-family:'Lato', sans-serif;
    font-size:20px;
    font-weight:bolder;
}
.transactions-text {
    font-family:'Lato', sans-serif;
    font-size:16px;
    color:black;
}
a.transaction-list {
    color:black;
    text-decoration:underline;
}
a.transaction-list:hover {
    color:#1F4E78;
}
.table-heading {
    font-family:'Lato', sans-serif;
    font-size:20px;
    font-weight:bolder;
}
a,.table-client {
    font-family:'Lato', sans-serif;
    font-size:15px;
    font-weight:bold;
    color:black;
}
a.table-client:hover {
    font-family:'Lato', sans-serif;
    font-size:15px;
    font-weight:bolder;
    color:#1F4E78;
}
.table-info {
    font-family:'Lato', sans-serif;
    font-size:15px;
    background-color:#E8E8E8;
}

/* Media Queries for breakpoints */
@media (min-width: 768px) {
    .team-text {
        padding-left:85px;
    }
    .team-heading {
        padding-left:65px; 
    }
}
@media (min-width: 992px) {
    .team-text {
        padding-left:45px;
    }
    .team-heading {
        padding-left:25px; 
    }
}

}